.mat-toolbar {
  background-color: #07111c; /* Задайте желаемый цвет навигационной панели */
  color: #ffffff; /* Задайте желаемый цвет текста */
  display: flex;
  justify-content: center;
}

/* Пример настройки расположения кнопок в навигационной панели */
.mat-toolbar-row {
  justify-content: space-between; /* Расположение кнопок по краям */
  align-items: center; /* Выравнивание кнопок по вертикали */
}

.mat-button {
  margin: 0 10px;
  font-size: 20px;
}




.mat-toolbar .login-button {
  margin-left: auto; /* Кнопка будет выровнена по правому краю */
  font-size: 20px;
}
.login-button:focus{
  margin-left: auto; /* Кнопка будет выровнена по правому краю */
  font-size: 20px;
  color: #1a9efd;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.button{
  margin-left: 16px;
  font-size: 20px;
}
.button:focus{
  margin-left: 16px;
  font-size: 20px;
  color: #1a9efd;
  text-decoration: underline;
  text-underline-offset: 4px;
}
img {
  width: 44px;
  height: auto;
}
.active-link{
  color: #1a9efd;
}



